/* =========================================================================================================================================== */
/* BUTTONS =================================================================================================================================== */
/* =========================================================================================================================================== */



@mixin transitionButton {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	}
	
	
	
	


.pointer {cursor: pointer;} /* THIS IS TOO GENERIC !!!!!!!!! */






/* UI ELEMENTS / move to buttons file ================================================================================== */



.buttonStyleX {
	background-color:$color2;
	}

	.buttonStyleX:hover { /* FUNCIONA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
		background-color:$color3;
		}
	
	
	
.button {
	@include transitionButton;
	
	
	cursor:pointer;
	@extend .buttonStyleX;
	
	float:left;
	clear:left;
	margin-bottom: $spacing;
	
	font-weight: bold;
	color:#fff;
	}


	.buttonSmall {
		@extend .button;
		font-size: $fs_s;
		padding: 5px;
		border-radius:3px;
		}
	.buttonMedium {
		@extend .button;
		font-size: $fs_m;
		padding: 10px;
		border-radius:6px;
		}	
	.buttonBig {
		@extend .button;
		font-size: $fs_l;
		padding: 20px;
		border-radius:9px;
		}		