/* 
 * Project: mdrubio.com
 * Product: cowoCMS
 * File: Forms reset
 */
 
 
 

/* ====================================================================================================================== */
/* FORMS                                                                                                                  */
/* ====================================================================================================================== */
	

/* INFO FRAMWEORK INPUT HOVER FOCUS ACTIVE ETC ----

Write CSS? 

Please don't forget to add :focus and :active styles along with :hover. :focus is important for keyboard and d-pad users.

Iinput ytops _ HOVER &  FOCUS  ar now ok in my framework (and infoOD & fart be)

BUT DSOES ACTIVE still apply to input typoes??????

*/





/* FORMS - iOS etc RESET ======================================= */
/* !!!!!!!!!!! adda s a separate file, to make sure that is ======================================= */

input[type=text], 
input[type=submit],
input[type=reset],
input[type=button], 
input[type=image], 
textarea,
select {
	-webkit-appearance: none; /* VIP - to override al i.e. iOS safari stryling */
	border-radius:0px;
	} 






label,
input[type="submit"],
input[type="button"] { // BUTTON !!!!
    cursor:pointer; 
	}
	
	
	