/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Layout
 */



/*
 * CODE FOR RESPONSIVE STICKY FOOTER
 * Instructions: class "block" to footer
 */
html, body {
	height: 100%;
	}
#page {
	display: table;
	height: 100%;
	width:100%;
	}
.block {
	display: table-row;
	height: 1px;
	}





body {
	background-color: $c_white; 
  }


#page {
	/* PLACEHOLDER */
	}

	header, footer {
		background-color: $c_primary;  
		}
	
		
.frame { 
	@include centered;
	/* max-width:1300px; */
	max-width:1140px;
	min-width:320px; 
	@include paddingh($spacing);	
  } 			
	
	
	
@media only screen and (max-width: $bp_m) { 

.frame { 
	@include paddingh($spacing05);	
  } 
		
					
} // MEDIA-QUERY		








	
	
	
	
/* ====================================================================================================================== */
/* MACRO LAYOUT                                                                                                           */
/* ====================================================================================================================== */




#container {
	
	}

	/* FULL WIDTH */
	.container_section_1 {
		background-color:$color2;
		} 
	.container_section_2 {
		
		} 
		
		/* CONTENT WIDTH */
		.container_content {
			@include centered;
			max-width:1300px; 
			min-width:320px; 
			position:relative; 
			@include paddingh(20px)
			} 
			




			
@media only screen and (max-width: $bp_l) { 

		
					
} // MEDIA-QUERY			



@media only screen and (max-width: $bp_m) { 

		.container_content {
			@include paddingh(15px)
			} 		
				
					
} // MEDIA-QUERY



@media only screen and (max-width: $bp_s) { 

		.container_content {
			@include paddingh(10px)
			} 		
				
					
} // MEDIA-QUERY

