/* CSS Document - SASS */
/* Front-End */


 /* add dev rwd ruler maybe to this front thing !!!!!!!!!!!! */
 
 






/* MEDIA-QUERIES (AS VARIABLES ) */    
$bp_xl: 1200px;
$bp_l: 1024px;
$bp_m: 800px;
$bp_s: 599px;
$bp_xs: 480px;


$spacing: 24px;
$spacing2: $spacing * 2;
$spacing3: $spacing * 3;
$spacing4: $spacing * 4;
$spacing6: $spacing * 6;
$spacing8: $spacing * 8;
$spacing075: $spacing * 0.75;
$spacing05: $spacing * 0.5;
$spacing025: $spacing * 0.25;
$spacing0125: $spacing * 0.125;




/* SPACINGS */

@mixin spacing($anyth)  {
	margin-bottom: $baseSpacing x $anyth;
	}
	
	
	
	



/* LAYOUT RELATED */

@mixin centered {
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	}
@mixin fullwidth {
	float:none; 
	width:100%;
	}

@mixin paddingh($paddingh) {
	padding-left: $paddingh;
	padding-right: $paddingh;
	}

@mixin paddingv($paddingv) {
	padding-top: $paddingv;
	padding-bottom: $paddingv;
	}


/* START - CLEARFIX */ /* apply clearfix to parent */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/*/END - CLEARFIX */



	
/* FUNCTIONS */ // for the sass grid thingee	 - would be as sepoarate file anyways





