/* CSS Document - SASS */
/* Front-End */



/*
// ideas de font size y line height
body{
  font-size:100%;
  line-height: 1.5;
}
*/



// create mixin - CSS_FALLBACK_tricks - LINK - the RGB fallback color only works when using shorthand. 
// http://css-tricks.com/ie-background-rgb-bug/



/* do sass for colors, and for interactiuon behaviours */

@mixin f_base {
	font-family: 'Roboto', Arial, sans-serif; /* always put the arial in there, hmmmmm qa ... ? DONT ERASE THIS EASILY  */
	}





/* SASS =========================== */


/* 
 * VARIABLES - COLORS - 1ST LEVEL !  
 */
$white: #fff; /* white */
$color2: #8f8772; /* dark brown */
$color3: #dbd5c5; /* light brown */
$color4: #646e8f; /* dark blue */
$color5: #c5cadb; /* light blue */


$carrot: #e67e22;
$pumpkin: #d35400;


/* VARIABLES */
$color1: $white; 
$color2: $pumpkin; 
$color3: $carrot;
$color4: #646e8f; /* dark blue */
$color5: #c5cadb; /* light blue */







$baseSpacing: 20px; /* deberia ser 16/24 o 1 a 1.5 .... */



$fontsizeHuge: 48px;
$fontsizeBig: 20px;
$fontsizeMedium: 16px;
$fontsizeSmall: 12px;




/* CREATE MIXIN for rem fontsize and px fallback solution */



$fontfamily1: Raleway; 


/* Variables - font families */
$tipo0:'Open Sans'; /* BASE per tota la web / text menys important */
$tipo1:'Antonio'; /* 1a TIPUS ESPECIAL */



$tipo0:'Raleway'; /* BASE per tota la web / text menys important */
$tipo1:'Cantora One'; /* 1a TIPUS ESPECIAL */

@mixin font0 {font-family: $tipo0, sans-serif;}
@mixin font1 {font-family: $tipo1, sans-serif;}




@mixin transitionButton {
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
}


















