/* CSS Document - FRONT-END */

/* ====================================================================================================================== */
/* TABLES                                                                                                                 */
/* ====================================================================================================================== */
	
	
	
/** Tables **/
table tr td {
	// padding: 4px 10px;
}


/*

.p, table.p tr td {padding: 10px;}
.pmin, table.pmin tr td  {padding: 3px;}
.pt, table.pt tr td {padding-top: 10px;}
.pl, table.pl tr td {padding-left: 10px;}
.pr, table.pr tr td {padding-right: 10px;}
.pb, table.pb tr td {padding-bottom: 10px;}

.m, table.m tr td {margin: 10px;}
.mmin, table.mmin tr td  {margin: 3px;}
.mt, table.mt tr td {margin-top: 10px;}
.ml, table.ml tr td {margin-left: 10px;}
.mr, table.mr tr td {margin-right: 10px;}
.mb, table.mb tr td {margin-bottom: 10px;}

 */