.grid_features {
  display: flex;
  // justify-content: center;
  justify-content: space-around; // ???
  // gap: 4em; // 
  gap: 6em; //   
  
  

  // TODO - RENAME AS card_feature(s)
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center; // PRECAUTION
  
    .icon {
      color: var(--c-text);
      font-size: 5em;
      
      // border: 1px solid red;
      height: 1em; // ?!
      // icon !!!!
      span {
        font-size: inherit;
        // border: 1px solid red;
        aspect-ratio: 1 / 1; // !!
      }
      
      a {
        color: inherit;
        @include a_ui_alt;
      } // a
      
    } // icon

    
    // for font sysezes, use the card nomencalture, and use it throughioyt, nice ... ..... o not ?
    
		.title {
      /*
      fs_card_title  -variable, vs just misins... asi, con ele foint wiweight ewc 
      fs_card_text
      fs_card_specs
      */

      // font-size: 24px;
      // font-size: 32px;
      font-size: var(--fs-xl);
      // font-size: var(--fs-xxl);
      
      font-weight: bold;

      // a

      @include css_line_clamp(3); // TEST  - aaaah 
      // @include css_line_clamp(2); // TEST 

      a {
        color: var(--c-text); // vs inherit ...
        @include a_ui_alt;
      }


    } // title
    
    
    

  .text {
    // text-align: center;
    font-size: var(--fs-l);
    // color: var(--secondary-text);
    // color: var(--c-text-alt);
    color: var(--c-text);
    @include css_line_clamp(2); // TEST 
  } // text

    
  .link {
    
    // button pill simple whatever , just reuse moduels, make it scalabel a6 robust & stable 
    a {
      display: inline-block; // 
      @include a_ui_alt;
      // @extend %pill; // // add pil bevaiour as clas sected only placehodler 
      @extend %pill_big; // // add pil bevaiour as clas sected only placehodler 
      // y aparte lso colores etc  
      // def'ly iuse smalle rpils in the other grids... ya que aqui si que es vip, pero ehn hero usar el big 
    }
    // VS MAYBE ADD THE CLASSES TO THE A TAG IN THE FRON TEND !!!!! ???? 
    
  } // link
    
    

} // item
  
  

  
} // grid_features