/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: CSS Reset
 */





/* aki no, pero ... font size, rem with px fallback */	

/* 
 * SASS - VARIABLES - Font size 
 */
$fs_xxl: 44px;
$fs_xl: 28px;
$fs_l: 20px;
$fs_m: 16px;
$fs_s: 12px;


// turn into css variables, and actually use them, as well as the color s..... ..... 


:root {

	--fs-xs: 10px; // rem, etc
	--fs-s: 12px; // rem, etc
	--fs-m: 14px; // rem, etc
	--fs-base: 16px; // rem, etc
	--fs-l: 20px; // rem, etc
	// --fs-xl: 28px; // rem, etc
	--fs-xl: 32px; // rem, etc
	// --fs-xxl: 44px; // rem, etc
	// --fs-xxl: 36px; // rem, etc
	--fs-xxl: 48px; // rem, etc
	--fs-xxxl: 56px; // rem, etc - page banner text s

} /* ROOT */