/*
 * CSS / Sass
 * Variables - Z-Index's
 */
/*
 * SASS - VARIABLES - LAYOUT - BREAK-POINTS 
 */ 
$zi_header: 101; // for header : why 101?
$zi_popup: 100; // for popup_cookies
// totd o es por el tema de z-indez de slick ...



// VARIABLES FOR ZI_POPUP_FOOTER ...     
 



/*
 * SASS - VARIABLES - LAYOUT - Z-INDEX
 */ 
$zi_lightbox: 12; 
// $zi_popup: 11; 
$zi_popup: 1000; // Due to slick slider  
$zi_header: 10; 
// etc


