/*
 * cowo-Boilerplate
 * CSS
 * TYPOGRAPHY - HTML-EDITOR - html tags new !!!!
 */ 




// generci html tags . to vbe fomratted outisde of the htmleditor module ...



/*  
 * HTML Tags - text-related
 */

abbr {
  // text-decoration: dotted; // DEFAULT - only accepts dotted or underline
  
  // GOAL- CHANGE COLOR OF DOTTED LINE ...
  // color: $c_accent;
  // text-decoration: underline;
  // text-decoration: dashed;
  text-decoration-color: $c_accent;
  text-decoration-style: dashed; // TEST IN LONG-HAND = OK --> DASHED IS BETTER THAN DOTTED
} // abbr




cite {
  // font-style: italic; // DEFAULT 
  /*
  color: $c_accent;
  text-decoration: underline;
  */
} // cite









/*  
 * HTML Tags - code-related
 */

// this could be as in reset, or barnding reset, ec , simple, above this layer anyways ... 

kbd {
  // DEFAULT
  // font-family: monospace; // DEFAULT
  background-color: #ccc;
  border: 1px solid #999;
  // padding: 6px;
  padding: 2px;

  display: inline-block;
  // min-width: 2em;
  // min-width: 1.4em;
  min-width: 1.6em;
  text-align: center;
} // kbd




/*  
 * HTML Tags - layout-related
 */