/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: Content - MOSTLY DEMO STUFF TO CLEAR AWAY AND PROCESS
 */
 

	
#content { // 
	// min-height:200px; 
	overflow:hidden; // ????????? 
	// background-color: #999;
	@include paddingv($spacing2);
	
	.inner {}
	
	
	} // content





section {
	background-color: #CCC; 
	margin-bottom: $spacing2; // TEST
	
	}




/* DEMO FOR THE HOME PAGE */


#frontWrapper { // should be a section !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	padding-top: $spacing;

	}


#frontWrapper_headerMega {
	// color: $color3;
	
	font-size: $fs_xl;
	/* margin-bottom: $baseSpacing; */
	/* @include spacing(5); */
	margin-bottom: 60px;
	/* text-align:right; */
	// text-align:center;
	}
	
	
	
#frontWrapper_header {
	// color: $color2;
	
	font-size: $fs_l;
	/* margin-bottom: $baseSpacing; */
	/* @include spacing(5); */
	margin-bottom: $spacing;
	}
	

	
	
.frontWrapper_section {
	/* margin-bottom: $spacing; */
	margin-bottom: 48px;
	@extend .clearfix;
	}	
	

	.frontWrapper_sectionTitle {
		font-size: $fs_m;
		margin-bottom: $spacing;
		// font-weight:bold;
		color: $c_text_2;
		}	
			
	.frontWrapper_sectionContent {
		font-size: $fs_m;
		}	
		
		.frontWrapper_sectionContent a {
			color: $c_primary; 
			font-weight:bold;
			
			&:hover { text-decoration:underline;}	
							
			} // a		
	







@media only screen and (max-width: 1024px) { 

			
} // MEDIA-QUERY

