/* CSS Document - FRONT-END */

/* ====================================================================================================================== */
/* LAYOUT SECTION - CONTENT                                                                                          */
/* ====================================================================================================================== */
	
#content {
	min-height:200px; 
	overflow:hidden; // ????????? 
	// background-color: #999;
	@include paddingv($spacing2);
	
	.inner {}
	
	
	} // content









.demo_text {
	font-size:1rem; 
	background-color:$color3; 
	margin-bottom:20px; 
	}




/* DEMO FOR THE HOME PAGE */


#frontWrapper {
	padding-top: $spacing;

	}


#frontWrapper_headerMega {
	// color: $color3;
	
	font-size: $fs_xl;
	/* margin-bottom: $baseSpacing; */
	/* @include spacing(5); */
	margin-bottom: 60px;
	/* text-align:right; */
	// text-align:center;
	}
	
	
	
#frontWrapper_header {
	// color: $color2;
	
	font-size: $fs_l;
	/* margin-bottom: $baseSpacing; */
	/* @include spacing(5); */
	margin-bottom: $spacing;
	}
	

	
	
.frontWrapper_section {
	/* margin-bottom: $spacing; */
	margin-bottom: 48px;
	@extend .clearfix;
	}	
	

	.frontWrapper_sectionTitle {
		font-size: $fs_m;
		margin-bottom: $spacing;
		// font-weight:bold;
		color: $c_text_2;
		}	
			
	.frontWrapper_sectionContent {
		font-size: $fs_m;
		}	
		
		.frontWrapper_sectionContent a {
			color: $color2; 
			font-weight:bold;
			}		
			.frontWrapper_sectionContent a:hover {
				text-decoration:underline;
				}		







@media only screen and (max-width: 1024px) { /* width is inclusive */ /* 320 , 420 , .... 480   , 568    ,  ... 600 */

			
}

