/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: Footer
 */
 
footer {
	overflow:hidden;
	
	.inner {
		overflow:hidden;
		padding: $spacing05;
		text-align: center;    
    color:#fff;		
		}
			
	} // footer


		.footerContent {
			font-size: $fs_l;
			
			span {font-size: $fs_m;}
			
			
			img {
				width: 86px;
				vertical-align: middle;
				}
				
			} // footerContent			
			
			
a.scrollToTop {
	
	 color: inherit;
	 cursor: pointer;
	 &:hover {color: $c_primary_light;}
	
		
		.icon {
			font-size: 32px;
			}
	
	
	}			