/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Header
 */


#w_headroom {
	
	
	
	}

	
header {
	// border-top: $spacing solid $c_primary_dark; // implement THIS N OTHER REPOS TOO
	
	.inner {
		padding: $spacing025; 
		@include paddingv($spacing05);
		overflow:hidden;
		position:relative;
		}
	
	} // header
	



		.navicon {	
			cursor:pointer;
			float:left;
			width:36px;
			
			margin-right: $spacing05; // TEMP
			
			// img {@include img;}
		
					
			// display: inline-block !important;
			
			// background-color: #999; // TEST

			display: none;
			@media only screen and (max-width: $bp_m) { 
				display: block !important;	
				// display: inline-block !important;	
				} // MEDIA-QUERY	



	
					.icon { // esto aplica el icon font, solo aki, po rahora, pero lo he usado en otros sitios, y siempre uso el mismo style, osea que metelo como un mixin !!!!! @include icon, ah no!!!! no cal fer res, o no, si que hace falta !!!!!!!!!!
						// background-color: #ff0; // TEST
						display: block;
						height: 1em; // YES !!!!!!!!!!!!
						// font-size: 48px;
						font-size: 32px;
						// color: $c_green;
						color: #fff;
						// @include transition(color, 0.25s);
						// &:hover {color: $c_green_light;	}
						} // icon
		

	
		} // navicon	


		#main_logo {
			float:left;
			font-size: $fs_xl; 
			color:#fff;	
			@include f_roboto_light;	
			
			a {
				color: inherit;
				color: #fff;
				}
				
			}
			
		#slogan {
			position:absolute; bottom: $spacing05; right: $spacing025;
			font-size: $fs_l; 
			color:#fff;	
			
			span {}
			
			a {
				color: inherit; // sass for inherit color !!!!!!!!	 NOT, but this new thing is very useful !!!! in sass environments 	
				&:hover {color: $c_accent;}
				}					

			} // slogan
	
			
			
					
@media only screen and (max-width: $bp_m) { 

	#main_logo {
		float:none;
		text-align:center;
		
		display: none;
		}
	#slogan {
		position:relative;
		text-align:center;
		bottom: $spacing0125;						
		} // slogan

					
} // MEDIA-QUERY		



@media only screen and (max-width: $bp_s) { 

	#slogan {

			span {display: block;}
								
		} // slogan
		
					
} // MEDIA-QUERY	
