/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Header
 */




	
nav.main {
	// border-top: $spacing solid $c_primary_dark; // implement THIS N OTHER REPOS TOO
	
	.inner {
		padding: $spacing025; 
		@include paddingv($spacing05);
		overflow:hidden;
		position:relative;
		}
	
	
	ul {
		// background-color: #f0f;
		text-align: center;
		}
	
	li {
		display: inline-block;
		margin-right: $spacing05;
		&:last-of-type {margin-right: 0px;}
		}
	
	a {color: $c_white;
		
		&:hover,
		&.is-current {text-decoration: underline;}
		
		} // a
	
	
	@media only screen and (max-width: $bp_m) { 				
		display: none;
		} // MEDIA-QUERY	
	

	
	} // nav.main
	




	




