/* CSS Document - FRONT-END */

/* =================================================================== */
/* LIGHTBOX ME                                       				   */
/* =================================================================== */


.lightboxme_trigger {
	cursor:pointer;
	background-color:$color2; 
	float:left;
	padding:$spacing;
	color:#fff;
	}

	.lightboxme_trigger:hover {
		background-color:$color3; 
		}
	
.lightboxme_content {
	clear:right; 
	display:none; 
	background-color:$color3; 
	color:#fff;
	/* width:700px; */
	width:62%; 
	
	padding:$spacing;
	}

	.lightboxme_content .close {
		cursor:pointer;
		text-align:right;
		margin-bottom: $spacing;
		
		&:hover {color:$color2;}
					
		}
		