/*
 * CSS
 * Grid Products
 */






// / TODO - & remeebr that girds could evbe extended, tes that !!!!



/*
 *
 * GRID - PRODUCT
 *
 */


.grid_products { // naming system grid_products etc, nice and clena
	// border: 3px solid green; // DEV
	display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; // must be a simpler shorthand way
	// grid-template-columns: 1fr 1fr 1fr 1fr;
	// grid-template-columns: repeat(4, 25%); // TEST THIS
	// grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
  	// grid-template-rows: 10% 10% 20% 10% 10% 10% 10% 10% 10% 10%;
	// grid-gap: 36px;
	gap: 36px;
	// grid-column-gap: 10px;
	grid-row-gap: $spacing2;
	@media only screen and (max-width: $bp_l) {grid-template-columns: repeat(3, 1fr);} // MEDIA-QUERY	
	@media only screen and (max-width: $bp_m) {grid-template-columns: repeat(2, 1fr);} // MEDIA-QUERY	
	@media only screen and (max-width: $bp_s) {grid-template-columns: repeat(1, 1fr);} // MEDIA-QUERY		
} // grid_blog
	
	






/*
 *
 * CARD - PRODUCT
 *
 */
.card_product {
  @include s_card;
  

  
  // picture tag !!!!!!!!!!!!!!!!!!!!!
  
	.image {
		// OPTION A - IMAGE
		img {@include img;}

		// OPTION B - BACKGORUND IMAGE
		@include bg_img;
		// @include ar_4_3;
		@include ar_16_9;
		@include bg_placeholder; 
  } // image




  
	.info { //etc, vs flex & grid layout !!!
		// padding-top: 0.5em;
		// padding-top: 1em;
		padding: $spacing05;	
		padding-top: $spacing075;

    
    .category {
      @include card_detail; 
      margin-bottom: 1em; // 

      a {
        color: inherit; // RESET THIS 
        @include a_ui_alt;
      } // a
      
    } // category
    
    
    
    
    // h3,
		.title {
      @include card_title; 

      padding-bottom: 0.5em;
      border-bottom: 1px solid var(--divider-text);
      margin-bottom: 1em;

      a {@include a_ui_alt;}

    } // title
    

    .text {
      color: var(--secondary-text);
      @include css_line_clamp(5); // TEST 
      @include css_line_clamp(3); // TEST 
    } // text

    

  .link {
    margin-top: 24px; // DO THE SYSTEM, YA ST SABES ... 
    
    display: flex;
    justify-content: flex-end;
    
    a {
      @include a_ui_alt;
      @extend %pill; // // add pil bevaiour as clas sected only placehodler 
      // y aparte lso colores etc 
    }
  
  } // link


} // info

  
  
  
  

} // card_blog