

/*
TASKS

1) sassify nested
2( change id to class
change name of wrapper

*/





/* 
 * CSS COUNTER 
 */
// .accordion-header::before { // CANOT BE BY OTSELF, IT MUST BE COUNTED INSIDE A WRAPPER... I GUESS, I HOPE... 
.accordion-container .accordion-header::before {
  counter-increment: vallenato;                   /* Increment the value of section counter by 1 */
  /* content: "# " counter(section) ": "; */   /* Display the word 'Section ', the value of section counter, and a colon before the content of each h3 */
	/* content: "# " counter(section); */ 
	/* content: counter(section);  */
	content: "Accordion " counter(vallenato);
}







// thisi system doesnt containe accordion-pair... but i guess i'll manage

.accordion-container {
	// @include border;

  /* 
  display: grid;
  // gap: 1em;
  gap: 0.5em;
  */
  font-size: 1.5em; // 
  
  
	.accordion-header {
		cursor: pointer; // UI
    padding: 0.6em 1em;
    background: var(--c-bg-dark);
    color: var(--c-text-inv); 
    
		/* SEPARATION BETWEEN ITEMS - solved without needing to build an "accordin pair" ...  but still */
		// margin: 5px 0 0 0;
    /* */
		margin-top: $spacing05;
		&:first-of-type {margin-top: 0px;}
    
    

      
    
    
  }	// accordion-header 
	
	
	
	
		.active-header {

			// @include border;
			// border: 3px solid black;

			/*
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			*/
			// background: url(images/active-header.gif) #cef98d;
			// background: url(../img/icons/images-vallenato/active-header.gif) #cef98d;
			background: url(../img/icons/images-vallenato/active-header.gif) $c_primary_dark;
			background-repeat: no-repeat;
			background-position: right 50%;

      
      
      background-color: var(--c-accent); 
      color: var(--c-text);  
      
      
			// color: $c_primary_dark;
			}

			.active-header:hover {
				// background: url(images/active-header.gif) #c6f089;
				// background: url(../img/icons/images-vallenato/active-header.gif) #c6f089;
				background: url(../img/icons/images-vallenato/active-header.gif) $c_primary_dark; // can change tone
				background-repeat: no-repeat;
				background-position: right 50%;
				
        
        background-color: var(--c-accent); 
        color: var(--c-text);  
        
        
        
				// color: $c_white;
				
				}

	
		.inactive-header {
			// background: url(images/inactive-header.gif) #ebebeb;
			// background: url(../img/icons/images-vallenato/inactive-header.gif) #ebebeb;
			// background: url(../img/icons/images-vallenato/inactive-header.gif) $c_primary_dark;
			background: url(../img/icons/images-vallenato/inactive-header.gif) $c_primary;
			// background: url(../img/icons/images-vallenato/inactive-header.gif) $c_primary_light;
			background-repeat: no-repeat;
			background-position: right 50%;
      
      
      // background: var(--c-bg-dark);
      background-color: var(--c-bg-dark);
      color: var(--c-text-inv); 
      
      
      
			}

			.inactive-header:hover {
				// background: url(images/inactive-header.gif) #f5f5f5;
				// background: url(../img/icons/images-vallenato/inactive-header.gif) #f5f5f5;
				background: url(../img/icons/images-vallenato/inactive-header.gif) $c_primary_dark; // can change tone
				background-repeat: no-repeat;
				background-position: right 50%;
        
        
        background-color: var(--c-accent); 
        color: var(--c-text);  
        
		}



		.accordion-content {
			display: none; // UI

			// border-top: 3px solid $c_primary_dark; // HACKY, VS SPACE... 

      padding: 3em;
      background: var(--c-bg-dark);
      color: var(--c-text-inv); 
      border-radius: 0 0 1em 1em; // TEST 
		} // accordion-content
	
	
	
	
	
} // accordion-container














