/*
 * CSS
 * Grid Pricing
 */
.grid_pricing {
	display: grid;
	// grid-template-columns: 1fr 1fr 1fr 1fr; // must be a simpler shorthand way
	// grid-template-columns: repeat(4, 25%); // TEST THIS
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: $spacing; // 
  // gap: 36px;
	// gap: $spacing2; // 
	// grid-column-gap: 10px;
	grid-row-gap: $spacing2; // row-gap .... 
	@media only screen and (max-width: $bp_l) {grid-template-columns: repeat(3, 1fr);} // MEDIA-QUERY	
	@media only screen and (max-width: $bp_m) {grid-template-columns: repeat(2, 1fr);} // MEDIA-QUERY	
	@media only screen and (max-width: $bp_s) {grid-template-columns: repeat(1, 1fr);} // MEDIA-QUERY		
   
} // grid_pricing
	
	




.card_pricing {
  @include s_card;
  
  // HTML PICTURE TAG :-)
  
  /* picture.thumbnail, */
  picture { /* maybe do picture.image etc or better picture.thumbnail, as picture.image is too generic  */
    
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    
  } // picture
  

	.info { //etc, vs flex & grid layout !!!
		// padding-top: 0.5em;
		// padding-top: 1em;
		padding: $spacing05;	
		padding-top: $spacing075;

    .price {
      font-size: 56px; // 
    } // price
    
    .category {
      margin-bottom: $spacing0125; 
      margin-bottom: $spacing025; 
      color: var(--secondary-text);
      // font-size: 14px;
      font-size: 13px;
      
      a {
        color: inherit;
        @include a_ui_alt;
      } // a
      
    } // category

		.title {
      /*
      fs_card_title  -variable, vs just misins... asi, con ele foint wiweight ewc 
      fs_card_text
      fs_card_specs
      */
      font-size: 24px;
      font-weight: bold;
      // // // padding-bottom: $spacing025;
      padding-bottom: $spacing0125;
      // border-bottom: 2px solid;
      // border-bottom: 1px solid;
      // border-bottom: 1px solid var(--secondary-text);
      border-bottom: 1px solid var(--divider-text);
      margin-bottom: $spacing025;
      // a
      // @include css_line_clamp(3); // TEST 
      // @include css_line_clamp(2); // TEST 

      a {
        @include a_ui_alt;
      }

    } // title
    
    .link {
      margin-top: 24px; // DO THE SYSTEM, YA ST SABES ... 
      /*
      display: flex;
      justify-content: flex-end;
      */

      a {
        @include a_ui_alt;
        @extend %pill; // // add pil bevaiour as clas sected only placehodler 
        // y aparte lso colores etc 
        display: block;
        text-align: center; // THIS SHOULD BE IN THE BUTTON SYSTENM AS A PRECAUTION ... 
      }

    } // link


    // do lo de card fs ... variables or mixins... really.. or clas setxend ... no se i sisin tb permite hover thing s.... hmm 

    .text {
      // margin-top: $spacing2;
      margin-top: $spacing;
      color: var(--secondary-text);
      // @include css_line_clamp(5); // TEST 
      // @include css_line_clamp(3); // TEST 
    } // text


    .list {
      // margin-top: $spacing2;
      margin-top: $spacing;
      color: var(--secondary-text);
      @include css_line_clamp(5); // TEST 
      @include css_line_clamp(3); // TEST 

      ul {
        list-style: disc; // ??? 
      }

      li {
        list-style: disc; // ??? 
      }

    } // text 

  } // info

} // card_blog