/* CSS Document - Carl Reset and Base */

.cowowo, .cowowo_ok {margin-bottom:20px; padding:10px;}

	.cowowo {background-color:#f00;}
	.cowowo_ok {background-color:#0f0;}


/* ==================================== */
/* DEVELOPMENT WEBDEV TOOLS =========== */  /* AKA PSEUDO-FRAMEWORK */
/* ==================================== */


.breaker {clear:both;}