/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: Content - MOSTLY DEMO STUFF TO CLEAR AWAY AND PROCESS
 */

















 // 

/*
 * COWO INDEX - molecule, like chips ... AND TAGS
 */
.cowo-index {
	
	ul {
		display: flex;
		flex-wrap: wrap;
		// gap: $spacing025;
		gap: 0.5em;
	}
	
	li {
		/*
		margin-bottom: $space05;
		&:last-of-type {margin-bottom: 0px;}
		*/
		
		a {
      display: inline-block; // VIP
			// @extend .buttonSmall;
			@extend .buttonMedium;
    }

  } // li

} // cowo-index






.cowo_heromenu {
	
	border: 3px solid red;
	
	
	display: grid;
	// grid-template-columns: repeat(1fr, 5);
	// grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(5, 1fr);
	gap: 24px;
		
		
	
	
	.item {
		border: 3px solid green;
		
	}
	
	
	
	
	
} // cowo_heromenu




















 
 
 

	
	
	
	
	
	
	 
 
 
// KILL ALL THIS,/ AAND KILL THE FILE 
// & THE CALLING FORM GLOBAL






// create sass file named miscellaneous... // NOT


/* DEMO FOR THE HOME PAGE */


#frontWrapper { // should be a section !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	padding-top: $spacing;

	}


#frontWrapper_headerMega {
	// color: $color3;
	
	font-size: $fs_xl;
	/* margin-bottom: $baseSpacing; */
	/* @include space(5); */
	margin-bottom: 60px;
	/* text-align:right; */
	// text-align:center;
	}
	
	
	
#frontWrapper_header {
	// color: $color2;
	
	font-size: $fs_l;
	/* margin-bottom: $baseSpacing; */
	/* @include space(5); */
	margin-bottom: $spacing;
	}
	

	
	
.frontWrapper_section {
	/* margin-bottom: $space; */
	margin-bottom: 48px;
	@extend .clearfix;
	}	
	

	.frontWrapper_sectionTitle {
		font-size: $fs_m;
		margin-bottom: $spacing;
		// font-weight:bold;
		color: $c_text_2;
		}	
			
	.frontWrapper_sectionContent {
		font-size: $fs_m;
		}	
		
		.frontWrapper_sectionContent a {
			color: $c_primary; 
			font-weight:bold;
			
			&:hover { text-decoration:underline;}	
							
			} // a		
	


