/*
 * Project: elcatala.cat
 * Area: Front
 * File: TYPOGRAPHY
 */	



/*  
 * TEXT: FONTS (font-face declarations)
 */

@font-face { // bold & italic
    font-family: 'ArcherBoldPro';
    src: url('../fonts/archer-bold-pro/archer-bold-pro.eot');
    src: url('../fonts/archer-bold-pro/archer-bold-pro.eot') format('embedded-opentype'),
         url('../fonts/archer-bold-pro/archer-bold-pro.woff2') format('woff2'),
         url('../fonts/archer-bold-pro/archer-bold-pro.woff') format('woff'),
         url('../fonts/archer-bold-pro/archer-bold-pro.ttf') format('truetype'),
         url('../fonts/archer-bold-pro/archer-bold-pro.svg#archer-bold-pro') format('svg');
}


@font-face { // bold
    font-family: 'ArcherBoldItalPro';
    src: url('../fonts/archer-boldital-pro/archer-boldital-pro.eot');
    src: url('../fonts/archer-boldital-pro/archer-boldital-pro.eot') format('embedded-opentype'),
         url('../fonts/archer-boldital-pro/archer-boldital-pro.woff2') format('woff2'),
         url('../fonts/archer-boldital-pro/archer-boldital-pro.woff') format('woff'),
         url('../fonts/archer-boldital-pro/archer-boldital-pro.ttf') format('truetype'),
         url('../fonts/archer-boldital-pro/archer-boldital-pro.svg#archer-boldital-pro') format('svg');
}

@font-face { // aka "normal"
    font-family: 'ArcherBookPro';
    src: url('../fonts/archer-book-pro/archer-book-pro.eot');
    src: url('../fonts/archer-book-pro/archer-book-pro.eot') format('embedded-opentype'),
         url('../fonts/archer-book-pro/archer-book-pro.woff2') format('woff2'),
         url('../fonts/archer-book-pro/archer-book-pro.woff') format('woff'),
         url('../fonts/archer-book-pro/archer-book-pro.ttf') format('truetype'),
         url('../fonts/archer-book-pro/archer-book-pro.svg#archer-book-pro') format('svg');
}




// @mixin f_1: ;


/*  
 * TEXT: FONTS - Google Fonts
 */

@mixin font {
	font-family: 'Lato', sans-serif;
	}

@mixin font_regular {
	@include font;
	font-weight: 400;
	}
@mixin font_light {
	@include font;
	font-weight: 300;
	}
@mixin font_bold {
	@include font;
	font-weight: 700;
	}	



body {
	// color: $c_black;
	color: $c_white;
	font-size: 16px;
	/* line-height: $baseSpacing; */	
	font-size:1rem; /* browser default */
	@include font_regular;
	}


p {
// margin-bottom: $baseSpacing;	
	}

a,  
a:hover {
	text-decoration:none; 
	}

a, 
a:visited, 
a:hover {
	// color: $c_white;
	// color: $c_black;
	color: inherit;
	}
	


/*  Typography - Headers ======================== */

/*
h1, h2, h3, h4, h5, h6 {
font-family: Tahoma, Geneva, sans-serif;
font-weight : normal;
margin-top: 0px;
// letter-spacing: -1px;
}

h1 {
	font-size:4rem;
	// font-family: Arial, Helvetica, sans-serif;
	line-height:1.4;
	color:#000;
	margin-bottom:0.2em;
	}

h2 {font-size:2.5rem;
	line-height:1.2;
	color: #222;
	margin-bottom:.5em;
	margin-top:.5em;
	}

h3 {font-size : 1.75rem;
	line-height : 1.3; 
	color: #333;
	margin-bottom : 0.3em;
	letter-spacing: -1px;
	}

h4 {font-size:1.5rem;
	line-height:1.25; 
	color:#444;
	margin-bottom:0.5em;
	}

h5 {font-size:1.25rem; 
	color:#555;
	margin-bottom:1.25em;
	}

h6 {
	// font-size:1rem; 
	color:#666;
	}
	
h6 {
	font-size: $fontsizeMedium; 
	}
	
*/	
	
	
	
	
	
	
	
.m_htmleditor {   // para cookies 
    // background-color:#f0f;
    
    h3 {
        font-size: 20px;
        // color: #f00;
        margin-top:24px;
        margin-bottom:12px;
        // color: $c_blue;
        }
    
    p {
        // background-color:#ff0;
        margin-bottom: 12px;
        // padding-bottom: 12px;
        }
    
    
    a {
        // color: $c_blue;
        // &:hover {text-decoration: underline;}
        } // a
    
    
    
    ul {
        margin-left:24px;
        // margin-bottom: 12px;
        margin-bottom: 24px;
				list-style:  disc;
				// list-style-image: url('../assets/img/bullet_blue.jpg'); /* deberia ser un gif */
        }
    
    
    li {
        margin-bottom: 18px;
        margin-bottom: 12px;
				margin-bottom: 10px;
    		}   
    
    
    
    // list 
    
    

    } // m_htmleditor
		
		
		
			
	
		