/*
 * CSS
 * Grid Staff
 */
/* 
 * GRID - STAFF
 */
.grid_staff {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  // gap: $spacing2;
  gap: 2rem;
  
  @media only screen and (max-width: $bp_l) { 
    // grid-template-columns: repeat(4, minmax(0, 1fr));
  } // MEDIA-QUERY	
  @media only screen and (max-width: $bp_m) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
  } // MEDIA-QUERY	
  @media only screen and (max-width: $bp_s) { 
    grid-template-columns: repeat(2, minmax(0, 1fr));
  } // MEDIA-QUERY	
  @media only screen and (max-width: $bp_xs) { 
    grid-template-columns: 1fr;
    // row-gap: 48px;
  } // MEDIA-QUERY	
  
} // grid_staff




/* 
 * CARD - STAFF
 */
 // article.card_staff,
.card_staff {
    @include s_card;
  
    picture {
      /* 
      outline: 3px solid red;
      // outline-offset: -3px;
      outline-offset: -6px;
      */
      // border: 1px solid red; // TEMP

      @include bg_c_placeholder;

      // border-radius: 0.25rem;
      border-radius: 1rem;
      overflow: hidden; // move to reste ...

      img {
        @include img; // ADD TO RESET !!!
        /*
        border-radius: 0.25rem;
        overflow: hidden;   
        */
      }

      // @include ar_square; // TEMP and/opr precaution, with object fir cover as well as a pack ?!

      // ADDD IMAGE THUMB SQUASRE FORMAT OPTION & REGERENART THUMBNAIIL ETC ....

      // if no image is added..... build it !!!!
      &.case-no-image {
        @include ar_square; // TEMP 
      } // case-no-image

    } // picture  




  // add info thingee.... 
  // with display: conetnst so that eh flex goes throug it !!! - for bototm margin auto posisbel and inherit gaps of cours etoo 

  




    /* */
    display: flex;
    flex-direction: column;
    
    // as preacution, of ma strectehes etc  - el de abajo margn top auto style

    // gap: 1rem; // 
    gap: 0.5rem; // 

    // .title,
    h3 {
      /*
      margin-top: 1lh; // !!!
      margin-bottom: 1lh; // !!!
      // aka margin-block: 1lh; // !!!


      // @include mx(1lh);
      */

      // margin-block: 0;
      // margin-block: 1lh;
      margin-bottom: 1lh; 
      margin-top: 0.5lh; 




      
      font-size: var(--card-fs-title); // 
      font-weight: bold;
    } // h3  



  // todo  is name is long, then make the role & email be aligend at the bototm .. nice precautin system 


    p.role {       
      margin-block: 0; // RESET ??? !!!
      // margin-bottom: 0.5lh; // !!!
      
      font-size: var(--card-fs-description); // 
    } // text  
  
  




    // ? KILL
    .email {
      font-size: var(--card-fs-description); // 
      // color: var(--moss-c-a-4); // TEST

      a {  
        color: inherit;
        @include a_ui_alt;
      } // a

    } // email  






    address {
      display: contents; // stil tetsing 

      font-size: var(--card-fs-detail); // TEST

      a {  
        color: inherit;
        @include a_ui_alt;
      } // a

    } // address




    p.category { 
      margin-top: auto; // 

      padding-top: 16px; // 


      font-size: var(--card-fs-detail); // 
      
      color: var(--c-gray-dark); // TEMP

    } // text  




} // card_staff