/*
 * CSS
 * Layout - Page (generic page elements) - Media
 */




/* MULTIMEDIA - layout_media PARTIAL FOR THIS !!! */
 
 



video {
	
	
}



// _layout_tags ...

.m_video {
	
} // m_vide




audio {
	// width: 100%; // FREE SCENARIO , NO ISSUES // MOVE TO RESET - JUST O THIS !!!
}


 



// FITVIDS IS SOI OBSOELETE !!!!!!!!!!!!!!!

/* CREATE SASS PARTIAL FOR THIS */  
.fitvids_container {
  // @include dev_border;
  
	/* 
	width: 50%; 
	margin:0px auto;
	*/
	/*
	padding: 5%;
	
	background:#fff;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	*/

	
	.fitvids_container iframe {
		/* width: 100%; */
		/* height:auto; */
		}
		
} // fitvids_container